# Ignorer les exécutables générés
*.exe
!tests/*.exe # Permet le partage d'executable pour faire des tests en commun
*.out
*.log

# Ignorer les résultats des tests
figures/runs/

# Ignorer les fichiers de données générés par les tests (CSV, TXT, etc.)
*.csv
!figures/raw_data/*.csv
*.txt
!figures/fichier_initialisation/*.txt

# Ignorer les fichiers temporaires
*.swp
*.bak
*.tmp
